<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <form action="/login" method="post">
    <input name="username" placeholder="username">
    <br/>
    <br/>

    <input name="password" placeholder="password">
    <br/>
    <button type="submit">Submit</button>

    </form>
    <br/>

    <br/>

    <a href="/register">Register</a>
</body>
</html>